/*  your css code here. If applicable */
.container::before {
	content: "Before Element";
	color: rgb(255, 0, 0);
	font-size: 20px;
	font-weight: 900;
}
.container::after {
	content: "After Element";
	color: rgb(255, 0, 0);
	font-size: 20px;
	font-weight: 900;
}